      @media (max-width:2440px){
    
 section.landing_contact_section{    padding: 210px 0px;}
        .studio_center_section .weight_loss_prog_section .category_slider_section:before{left: -200px;}
        .landing_offers_section .offers_category_section_wrapper:before{left:-200px;}
        .featured_offers_section .featured_offers_section_wrapper:before{right:-200px;}
        .reponse_btn{float:right;}
        .view_all_hair{position: absolute; right: 0px; }
        .hair_box_tab_heading{position: relative;}
        .tab_rating_on_btn{right:5px; top: -20px;}
        .header_height_S{height:110px;}
        .header_height_B{ height: 200px;}
        .quick_fact_detail_banner img{width:100%;}
        .header_height_A {   height: 160px;  }
        .Bundle_image img{    width: 100%; margin-top:10px;}
        .header_bottom_p.offer_listing_header {  height: 110px; }
        .beauty_category_section.category_section .category_slider_section:before{left:-40px;}
        .fitness_category_section.category_section .category_slider_section:before{right:-40px;}
        .wellness_category_section.category_section .category_slider_section:before{left:-40px;}
        .feature_category { padding: 140px 0px 0px 0px; }
        .refferal_count:before{width:125px;}
        .Right_side_banner_image{right: -200px;}
        .offer_detail_banner_height{height: 535px;   overflow: hidden;}

      @media(max-width:1921px){
        section.landing_contact_section{    padding: 210px 0px;}
        .studio_center_section .weight_loss_prog_section .category_slider_section:before{left: -200px;}
        .landing_offers_section .offers_category_section_wrapper:before{left:-200px;}
        .featured_offers_section .featured_offers_section_wrapper:before{right:-200px;}
        .reponse_btn{float:right;}
        .view_all_hair{position: absolute; right: 0px; }
        .hair_box_tab_heading{position: relative;}
        .tab_rating_on_btn{right:5px; top: -20px;}
        .header_height_S{height:110px;}
        .header_height_B{ height: 200px;}
        .quick_fact_detail_banner img{width:100%;}
        .header_height_A {   height: 160px;  }
        .Bundle_image img{    width: 100%; margin-top:10px;}
        .header_bottom_p.offer_listing_header {  height: 110px; }
        .beauty_category_section.category_section .category_slider_section:before{left:-40px;}
        .fitness_category_section.category_section .category_slider_section:before{right:-40px;}
        .wellness_category_section.category_section .category_slider_section:before{left:-40px;}
        .feature_category { padding: 140px 0px 0px 0px; }
        .refferal_count:before{width:125px;}
        .Right_side_banner_image{right: -200px;}
        .offer_detail_banner_height{height: 535px;   overflow: hidden;}
      }
      
      
      @media(max-width:1680px){
            section.landing_contact_section{    padding: 210px 0px;}
            .studio_center_section .weight_loss_prog_section .category_slider_section:before{left: -200px;}
            .landing_offers_section .offers_category_section_wrapper:before{left:-200px;}
            .featured_offers_section .featured_offers_section_wrapper:before{right:-200px;}
            .reponse_btn{float:right;}
            .view_all_hair{position: absolute; right: 0px; }
            .hair_box_tab_heading{position: relative;}
            .tab_rating_on_btn{right:5px; top: -20px;}
            .header_height_S{height:110px;}
            .header_height_B{ height: 200px;}
            .quick_fact_detail_banner img{width:100%;}
            .header_height_A {   height: 160px;  }
            .Bundle_image img{    width: 100%; margin-top:10px;}
            .header_bottom_p.offer_listing_header {  height: 110px; }
            .beauty_category_section.category_section .category_slider_section:before{left:-40px;}
            .fitness_category_section.category_section .category_slider_section:before{right:-40px;}
            .wellness_category_section.category_section .category_slider_section:before{left:-40px;}
            .feature_category { padding: 140px 0px 0px 0px; }
            .refferal_count:before{width:125px;}
            .Right_side_banner_image{right: -200px;}
            
        }
        @media(max-width:1500px){
            .landing_offers_section .offers_category_section_wrapper:before{left:-120px;}
            .studio_center_section .weight_loss_prog_section .category_slider_section:before{left:-120px}
            .featured_offers_section .featured_offers_section_wrapper:before{right:-120px;}
            .tab_rating_on_btn{right:5px;}
            .header_height_S{height:110px;}
            .header_height_B{ height: 200px;}
            .quick_fact_detail_banner img{width:100%;}
            .header_height_A {   height: 160px;  }
            .header_bottom_p.offer_listing_header {
                height: 110px;
            }
            .beauty_category_section.category_section .category_slider_section:before{left:-40px;}
            .fitness_category_section.category_section .category_slider_section:before{right:-40px;}
            .wellness_category_section.category_section .category_slider_section:before{left:-40px;}
            .feature_category { padding: 70px 0px 0px 0px; }
            .Right_side_banner_image{right: -120px;}

        }

        @media(max-width:1400px){
            .tab_rating_on_btn{right:5px;}
            .SingUp_input{margin-top: 0px !important;}
            .header_height_S{height:110px;}
            .header_height_B{ height: 200px;}
            .quick_fact_detail_banner img{width:100%;}
            .header_height_A {   height: 160px;  }
        
            .Bundle_image img{    width: 100%; margin-top:10px;}
            .header_bottom_p.offer_listing_header {
                height: 110px;
            }
            .beauty_category_section.category_section .category_slider_section:before{left:-40px;}
            .fitness_category_section.category_section .category_slider_section:before{right:-40px;}
            .wellness_category_section.category_section .category_slider_section:before{left:-40px;}
            .feature_category {  padding: 40px 0px 0px 0px;  }
            .refferal_count:before {  width: 95px;  }
            .Right_side_banner_image{right: -80px;}
        }

        @media(max-width:1300px){
            .tab_rating_on_btn{right:5px;}
            .SingUp_input{margin-top: 0px !important;}
            .header_height_S{height:110px;}
            .header_height_B{ height: 200px;}
            .header_height_A {   height: 160px;  }
            /* .Explore_btn_details{margin:0px auto;}
            .Ask_Expert{margin:10px auto;} */
            .header_bottom_p.offer_listing_header {
                height: 110px;
            }
            .feature_category { padding: 0px 0px 0px 0px;  }
            .beauty_category_section.category_section .category_slider_section:before{left:-40px;}
            .fitness_category_section.category_section .category_slider_section:before{right:-40px;}
            .wellness_category_section.category_section .category_slider_section:before{left:-40px;}
            .refferal_count:before {  width: 95px;  }
        }


        @media(max-width:1200px){
            .main_menu.shrink .main_category_menu_wrap {   width: 58%;  }
        }


        @media(max-width:1024px){
            section.landing_contact_section{ background-position: top right;  background-size: cover;  padding: 120px 0px; }
            .landing_offers_section .offers_category_section_wrapper:before{left: -150px;}
            .studio_center_section .weight_loss_prog_section .category_slider_section:before{left: -150px;}
            .featured_offers_section .featured_offers_section_wrapper:before{right:-150px}
            .Beaty_tabs_animation li{width:190px;}
            .reponse_btn{margin:0 auto; width:100%;}
            .explore_btn_cancelling{display:block;  margin:5px auto;}
            .Responses_btn_cancelling{display:block; margin:5px auto;}
            .grey_multi_image img{margin:5px auto !important;}
            .view_all_hair{position: absolute; right: 0px; }
            .hair_box_tab_heading{position: relative;}
            .your_cart_new{top:-570px;}
            .trail_maine_section{top:-200px; position:relative;}

            .Voice_review_sidebar{top:-550px;}
            .coupon_code_discount{font-size:36px;}
            .Flow_social_button li{margin:10px 0px;}
            .yoga_group_right .divinder_Tab{display: none;}
            .tab_rating_on_btn{right:0px;}
            .top_link_tab li{    margin: 17px 0px;}
            .Shopping_cart_tab{margin-left:0px; width:200px;}
            .Payment_cart_tab{margin-left: 30px; width:200px; background-color: #fff;}
            .Checkout_cart_tab{margin-left: 30px; width:200px; background-color: #fff;}
            .header_height_S{height:110px;}
            .list_sider_bar_styling::before{left:-15px;}
            .list_sider_bar_styling::after{left: -22px;}
            .select-dropdown{margin-left: 0px;}
            .keep_sigin{width:100%;}
            .SingUp_input{margin-top: 0px !important;}
            .side_menu_li_listing{width:100%;}
            .quick_listing_image{padding-right:10px;}
            .header_height_B{ height: 200px;}
            .header_height_A {   height: 160px;  }
            .Explore_btn_details{margin:0px auto;}
            .Ask_Expert{margin:10px auto;}
            .header_bottom_p.offer_listing_header {
                height: 170px;
            }
            .header_bottom_p.height_desktop_resposive {
                height: 180px;
            }
            section.page_filter_section .filter_shortby_wrap{top: -90px;}
            .offer_detail_price_show{font-size: 30px;}
            .membership_text { width: 70%; }
            .Code_name_sidebar{width:30%;}
            .offer_detail_price_top{font-size: 14px;}
            ul#suggestContent li{padding:8px 14px;}
            .header_height.wallet_height {  height: 170px;  }
            .top_menu_bar.main_menu.shrink .main_category_menu_wrap .menu_item_text{   font-size: 11px;    }
            .listing_item_wrap .item_detail_wrap .price_details_wrap{width:43%;}
            
        .main_menu.shrink .search_section_module { top: 60px; display: block;  left: 13px; }
        .main_menu.shrink .main_category_menu_wrap {
            width: 62%;
        }
        .Unrestricted{font-size: 13px;}
        .Unrestricted_1{font-size: 13px;}
        }


        @media(max-width:992px){
            section.landing_contact_section{background-size: cover; background-position: top right;}
            .reponse_btn{margin:0 auto; width:100%;}
            .explore_btn_cancelling{display:block;  margin:5px auto;}
            .Responses_btn_cancelling{display:block; margin:5px auto;}
            .Beaty_tabs_animation li{width:180px;}
            .header_bottom_form{margin-top: 150px;}
            .send_teligram{left:-25px;top:15px;}
            .attechded_icon{padding-left: 0px;line-height: 70px;}
            .number_images{margin: 0 auto;}
            .grey_multi_image{display:block; text-align: center;}
            .grey_multi_image img{margin:5px auto !important;}
            .Query{width:100%}
            .Query p{width: 85%;}
            .query_text{width:15%;}
            ul.Beaty_tabs_animation{text-align: center;}
            .view_all_hair{position: absolute; right: 0px; }
            .hair_box_tab_heading{position: relative;}
            .Voice_review_sidebar{top:-550px;}
            .coupon_code_discount{width:35%;padding-top:60px;}
            .coupon_code_left_Side {width: 65%; }
            .side_all_frent_page{height: 100%;}
            .smillar_image-wrap img{width:100%}
            .button.is-play{ transform: translate(-50%,-50%); left:50%;    top:50%;  }
            /* .coupon_code_left_Side{width:75%;}
            .coupon_code_discount{width:25%;} */
            .trail_sessions .item-slick img{width:100%;}
            .tab_rating_on_btn{right:0px;}
            .trail_sessions{top:-400px}
            .your_cart_new{top:-550px;}
            .calories_section_right .divinder_Tab{display: none;}
            .yoga_group_right{width:50%;}
            .yoga_coupon_left{width:50%;}
            ul.top_link_tab{text-align:left;}
            .top_link_tab li{margin:25px 5px;}
            .height_fitness_one{margin-top:0px;}
            .Shopping_cart_tab{margin-left:0px; width:200px;}
            .Payment_cart_tab{margin-left: 30px; width:200px; background-color: #fff;}
            .Checkout_cart_tab{margin-left: 30px; width:200px; background-color: #fff;}
            .Code_name_sidebar{font-size: 14px;}
            .membership_text {  width: 70%; font-size: 14px; }
            .code_UEA799{font-size: 14px  !important;}
            #test2[type="radio"]:checked + label, #test2[type="radio"]:not(:checked) + label{font-size: 14px;}
            .header_height_S{height:110px;}
            /* .SingUp_box{margin-top: 140px;} */
            .list_sider_bar_styling::before{left:-15px;}
            .list_sider_bar_styling::after{left: -22px;}
            .select-dropdown{margin-left: 0px;}
            .keep_sigin{width:100%;}
            .SingUp_input{margin-top: 0px !important;}
            .side_menu_li_listing{width:100%;}

            .quick_listing_image{padding-right:10px;}
            .header_height_B{ height: 250px;}
            .header_height_A {   height: 160px;  }
            .Explore_btn_details{margin:0px auto;}
            .Ask_Expert{margin:10px auto;}
            .header_bottom_p.offer_listing_header {
                height: 20px;
            }
            .bottom_details_section{text-align: center;}
            .off_image{top:10px;}
            .Bundle_image img{    width: 100%; margin-top:10px;}
            .Right_side_banner_image{right:0px;}  
            .header_height.wallet_height {  height: 170px;    }
            .forget_passowrd{width:100%; text-align: left; padding-left: 10px;}
            .or_change{padding:10px 25px;}
            .or_change:before{width:15px;}
            .or_change:after{width:15px;}
            .login_height_mobile { height: 120px !important;  }
            .listing_item_wrap{flex-wrap: wrap;}
            .top_menu_bar.main_menu.shrink .main_category_menu_wrap .menu_item_text{
                font-size: 12px;
            }
            .listing_item_wrap:before{z-index: 99;}
            .header #header_main .container { width:90%; max-width:90%;}
            .top_nav_bar_wrap { display: flex;  flex-wrap: wrap;     text-align: right;   display: block;}
            .user_menu { margin-top:10px; display: block;  float: right; }
            .search_section_module{ display: none ;  }
            .main_menu.shrink .search_section_module{ display: none ;  }
            .main_category_menu_wrap { width: 100%;display: block; left: 0px; bottom:-50px; transform: none; 
            padding:10px 0px; text-align: center;    }
            .header_height { height: 10px;   }
            .header_bottom_p{height:10px;}
            .menu_wrapper{position: static; display: block;}
            .main_menu.shrink .main_category_menu_wrap {width: 100%; }
            section.beutics_features_section { background-image: url(../img/home-brush-stroke.png);  background-position: bottom center;
                background-size: 100%; background-repeat: no-repeat;   }
            .row.features_category_row { padding-top: 40px;  padding-bottom: 40px; }
            .refferal_count:before{display: none;}
            .refer_earn_right_div { background: #f0ebfc; padding: 70px 40px 80px 50px; }
            .list-unstyled{text-align: center;}
            .how_its_work_list ul > li > img { margin-right: 25px; display: block;  vertical-align: middle; margin: 0 auto;   }
            .beauty_category_section.category_section .category_slider_section:before{left:-160px;}
            .fitness_category_section.category_section .category_slider_section:before{right:-160px;}
            .wellness_category_section.category_section .category_slider_section:before{left:-160px;}
        }

        @media(max-width:991px){
            section.landing_contact_section{background-size: cover; background-position: top right;}
            .weight_loss_prog_section.category_section .visit_categoy{top: 50%; width: 80%; text-align: center; display: none;}
            .delivery_mode_wrapper .delivery_mode_item .blog_wrap .slider-caption-wrap{  width: 100%;
                left: 0%;
                padding: 10px; }
            .reponse_btn{margin:0 auto; width:100%;}
            .explore_btn_cancelling{display:block;  margin:5px auto;}
            .Responses_btn_cancelling{display:block; margin:5px auto;}
            .coupon_code_discount{width:25%; text-align: center;}
            .coupon_code_left_Side {width: 75%; }
            .trail_sessions{top:0px}
            .your_cart_new{top:0px;}
            .Voice_review_sidebar{top:0px;}
            .trail_maine_section{top:0px;}
        }


        @media(max-width:800px){
            section.landing_contact_section{background-size: cover; background-position: top right;}
            .weight_loss_prog_section.category_section .visit_categoy{top: 50%; width: 80%; text-align: center; display: none;}
            .delivery_mode_wrapper .delivery_mode_item .blog_wrap .slider-caption-wrap{  width: 100%;
                left: 0%;
                padding: 10px; }
            .reponse_btn{margin:0 auto; width:100%;}
            .explore_btn_cancelling{display:block;  margin:5px auto;}
            .Responses_btn_cancelling{display:block; margin:5px auto;}
            .Beaty_tabs_animation li {
                width: 130px;
            }
            .header_bottom_form{margin-top: 50px;}
            .send_teligram{left:-25px;top:15px;}
            .attechded_icon{padding-left: 0px;line-height: 70px;}
            .number_images{margin: 0 auto;}
            .grey_multi_image{display:block; text-align: center;}
            .grey_multi_image img{margin:5px auto !important;}
            .Query{width:100%}
            .Query p{width: 85%;}
            .query_text{width:15%;}
            ul.Beaty_tabs_animation{text-align: center;}
            .view_all_hair{position: absolute; right: 0px; }
            .hair_box_tab_heading{position: relative;}
            .view_all_hair{width:65%;}
            .hair_tabs_in_box{margin-left: 0px;}
            .hair_heading_box{width:100%;}
            .trail_maine_section{top:0px;}
            .Service_1_text{text-align: center;}
            ul.service_like_not{text-align: center;}
            .button.is-play{ transform: translate(-50%,-50%); left:50%;    top:50%;  }
            .coupon_code_left_Side{width:75%;}
            .coupon_code_discount{width:25%; text-align: center;}
            .trail_sessions .item-slick img{width:100%;}
            .tab_rating_on_btn{right:0px;}
            .trail_sessions{top:0px}
            .your_cart_new{top:0px;}
            .calories_section_right .divinder_Tab{display: none;}
            .yoga_group_right{width:50%;}
            .yoga_coupon_left{width:50%;}
            ul.top_link_tab{text-align:left;}
            .top_link_tab li{margin:25px 5px;}
            .height_fitness_one{margin-top:0px;}

            .code_UEA799{font-size: 14px  !important;}
            #test2[type="radio"]:checked + label, #test2[type="radio"]:not(:checked) + label{font-size: 14px;}
            .Code_name_sidebar{font-size: 14px;}
            .membership_text {  width: 70%; font-size: 14px; }
            .table_section-right_sidebar{padding:10px;}
            .your_money_icon {  width: 20%;  }
            .Checkout_cart_tab:after{display: none;}
            .Shopping_cart_tab::after{display: none;}
            .Payment_cart_tab{margin:10px auto;}
            .Shopping_cart_tab{margin:10px auto}
            .Checkout_cart_tab{margin:10px auto;}
            .list_sider_bar_styling::before{left:-15px;}
            .list_sider_bar_styling::after{left: -22px;}
            .select-dropdown{margin-left: 0px;}
            .keep_sigin{width:100%;}
            .SingUp_input{margin-top: 0px !important;}
            .side_menu_li_listing{width:100%;}
            .quick_listing_image{padding-right:10px;}
            .header_height_B{ height: 250px;}
            .Explore_btn_details{margin:0px auto;}
            .Ask_Expert{margin:10px auto;}
            .header_height_A {   height: 190px;  }
            .dinamond_banner_text{font-size: 18px;}
            .Bundle_image img{    width: 100%; margin-top:10px;}
            .header_bottom_p.offer_listing_header {
                height: 20px;
            }
            section.page_filter_section .filter_shortby_wrap{top:-80px;}
            .header_bottom_p { margin-top:0px;  }
            .bottom_details_section{text-align: center;}
            .off_image{top:10px;}
            .Bundle_image img{    width: 100%; margin-top:10px;}
            .Right_side_banner_image{right:0px;}  
            .header_height.wallet_height {  height: 170px;  }
            .login_height_mobile { height: 200px !important; }
            /* .forget_passowrd{width} */
            .or_change{padding:10px 25px;}
            .or_change:before{width:15px;}
            .or_change:after{width:15px;}
            .login_height_mobile{height:120px;}
            .listing_item_wrap{flex-wrap: wrap;}
            .header #header_main .container { width:90%; max-width:90%;}
            .top_nav_bar_wrap { display: flex;  flex-wrap: wrap;     text-align: right;   display: block;}
            .user_menu { margin-top:10px; display: block;  float: right; }
            .search_section_module{ display: none ;  }
            .main_menu.shrink .search_section_module{ display: none ;  }
            .main_category_menu_wrap { width: 100%;display: block; left: 0px; bottom:-50px; transform: none; 
            padding:10px 0px; text-align: center;    }
            .header_height { height: 112px;   }
            .menu_wrapper{position: static; display: block;}
            .main_menu.shrink .main_category_menu_wrap {width: 100%; }
            section.beutics_features_section { background-image: url(../img/home-brush-stroke.png);  background-position: bottom center;
                background-size: 100%; background-repeat: no-repeat;   }
            .row.features_category_row { padding-top: 40px;  padding-bottom: 40px; }
            .refferal_count:before{display: none;}
            .refer_earn_right_div { background: #f0ebfc; padding: 70px 40px 80px 50px; }
            .list-unstyled{text-align: center;}
            .how_its_work_list ul > li > img { margin-right: 25px; display: block;  vertical-align: middle; margin: 0 auto;   }
        }
        @media(max-width:767px){
            .header_height.header_bottom_landing {
                margin-top: 175px;
            }
            .delivery_mode_wrapper .delivery_mode_item .blog_wrap .slider-caption-wrap{  width: 100%;
                left: 0%;
                padding: 10px; }
            .landing_offers_section .offers_category_section_wrapper:before{left: -130px;}
            .studio_center_section .weight_loss_prog_section .category_slider_section:before{left: -130px;}
            .featured_offers_section .featured_offers_section_wrapper:before{right:-130px}
            .weight_loss_prog.slider .slick-dots{bottom:-85px; text-align: center;}
            .image-wrap img{width:100%;}
            .landing_contact_wrapper{display:block;}
            .landing_contact_wrapper .landing_contact_item{width:100%;}
            section.landing_contact_section{background-size: cover; background-position: top right;     padding: 160px 0px 260px 0px;}
            .delivery_mode_wrapper .delivery_mode_item .blog_wrap .slider-caption-wrap{left:0%; width:100%;}
            .weight_loss_prog_section.category_section .visit_categoy{top: 50%; width: 80%; text-align: center; display: none;}
            .featured_offers_category_tab_content .featured_offers{display: block;}
            .featured_offers .blog_wrap{ width: 100%; padding:10px; }
            .featured_offers_category_tab_content .featured_offers .cu_slider_item{margin:10px auto; width:100%}
            .studio_center_section .section_header h2{transform: translateY(-70%);}
            .landing_offers_section .offers_category_section_wrapper{padding-left: 0px;}
            .delivery_mode_wrapper{display:block;}
            .delivery_mode_wrapper .delivery_mode_item:nth-of-type(2){    transform: translateY(0px);}
            .delivery_mode_wrapper .delivery_mode_item{width:100%; margin: 10px auto;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(1){padding-top:100px;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(2){padding-top: 0px;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(3){ padding-top: 0px; }
            .studio_center_blog_wrapper{height:100%!important;}
            .blogs_masonry .blogs_masonry_item{ width:100%; position: relative !important; top:0px !important; left:0px !important; }
            

            .reponse_btn{float:none;}
            .reponse_btn{margin:0 auto; width:60%;}
            .explore_btn_cancelling{display:block;  margin:10px auto;}
            .Responses_btn_cancelling{display:block; margin:10px auto;}
            .cancel_order_box{text-align: center;}
            .atteched_file_send{text-align: center;}
            .send_teligram{margin:0 auto;}
            .attechded_icon{text-align: center;}
            .number_images{margin:10px auto;}
            .grey_multi_image img{margin:0 auto!important;}
            .header_bottom_form{margin-top: 200px;}
            .send_teligram{left:0px;top:0px;}
            .Query{width:100%}
            .Query p{width: 80%;}
            .query_text{width:20%;}
            ul.Beaty_tabs_animation{text-align: center;}
            .hair_heading_box{width:100%;}
            .trail_maine_section{top:0px;}
            .Service_1_text{text-align: center;}
            ul.service_like_not{text-align: center;}
            .trail_sessions .item-slick img{width:100%;}
            .tab_rating_on_btn{right:0px;}
            .trail_sessions{top:0px}
            .your_cart_new{top:0px;}
            .calories_section_right .divinder_Tab{display: none;}
            .yoga_group_right{width:50%;}
            .yoga_coupon_left{width:50%;}
            ul.top_link_tab{text-align:left;}
            .top_link_tab li{margin:25px 5px;}
            .height_fitness_one{margin-top:180px;}
            .Cart_page_Price_number{text-align: left; margin:10px 0px;}
            .your_money_icon{width:15%;}
            .Checkout_cart_tab:after{display: none;}
            .Shopping_cart_tab::after{display: none;}
            .Payment_cart_tab{margin:10px auto;}
            .Shopping_cart_tab{margin:10px auto}
            .Checkout_cart_tab{margin:10px auto;}
            .side_menu_li_listing{width:100%;}
            .quick_listing_image{padding-right:10px;}
            .header_height_B{ height: 250px;}
            .header_height_A { height: 200px; }
            .dinamond_banner_text{font-size: 18px;}
            .Bundle_image img{    width: 100%; margin-top:10px;}
            .gif_yoga_box{margin-top:20px;}
            .offer_details{margin: 10px auto;}
            .offer_detail_price_top{top:0px; text-align: center;}
            .header_height.offer_height {  height: 180px;   }
            .Right_side_banner_image{right:0px;}   
            .top_up_btn{text-align: center;}
            .wallet_transcations .heading_cash_one{text-align: left;}
            .wallet_height { height: 200px !important; }
            .my-account_code_one{text-align: center;}
            .how_Redeemed{text-align: center;}
            .my_cash_first_icon{margin:0 auto;}
            .heading_cash_one{text-align: center;}
            .header_height {  height: 10px; }
            .login_height_mobile { height: 200px; }
            .listing_item_wrap .item_detail_wrap .detail_wrap{width:100%;}
            .listing_item_wrap .item_detail_wrap .price_details_wrap{width:100%;}
            .listing_item_wrap{flex-wrap: wrap;}
            .listing_beauty_wellness_items .listing_item_wrap .item_detail_wrap .price_details_wrap{width:45%;}
            .listing_item_wrap:before{ z-index: 9;     right: 2px;}
            .listing_beauty_wellness_items .listing_item_wrap .item_detail_wrap .price_details_wrap{     transform: translateY(0px);}
            .main_menu{ padding:0px;  }
            body.home_page .search_section_module{  display: none; }
            .brand_wrapper { margin:0px }
            .main_menu.shrink .search_section_module{ display: none;  }
            .main_menu_wrapper { display: flex;  width: 100%; flex-wrap: wrap; }
            .menu_wrapper { width: 100%; display: flex;  flex-wrap: wrap; padding-left: 0px;   }
            .main_category_menu_wrap {  width: 112%;  order: 2; position: absolute; bottom: -70px; left: -40px;
                border-radius: 0px; transform: none; padding: 0px;  text-align: center;  }
            .custom_responsive{ display: none; }
            .top_nav_bar_wrap .user_menu .navbar{ width:100%; padding-left: 0px; margin-left: 0px;}
            .top_nav_bar_wrap {display: flex;  width: 100%; padding:0px; text-align: center; }
            .user_menu {width: 100%; position: absolute; z-index: 999; top: 0px;  right: -60px;  }
            .user_menu .navbar-nav{  width:100%; display: inline-block;  }
            .user_menu .navbar-nav li{ display: inline-block; margin:10px 0px; }
            #category_menu ul li{display: inline-block;  width: 75px; }
            #category_menu ul { display: inline-block;}
        .top_menu_bar .main_category_menu_wrap .menu_item_icon { width: 40px; display: block; margin: 0 auto;}
        .top_menu_bar .main_category_menu_wrap .navbar-nav .nav-item .nav-link { text-align: center; display: block;}
        .main_menu.shrink .main_category_menu_wrap {width: 100%; height: auto;}
        .home_banner .slider-image .slider-caption-wrap{ display:none;}
        .home_banner .slick-slide .image-wrap { height: 100%; width: 100%;}
        .home_banner .slick-slide img { width: 100%; height: calc(100vh - 0px);}
        .slideshow__slides .slick-dots { bottom: -40px;  width: 99%; right: 0px; display: none !important;}
        .home_banner .slick-dots li { width:30px;}
        .home_banner .slick-arrow.slick-next {left: 0%;}
        .row.features_category_row{ display: block;}
        section.beutics_features_section{ background:url(../img/home-brush-stroke.png); background-repeat: no-repeat; 
            background-position: bottom center;     background-size: 100%;}
        .refer_earn_left_div:before{ right: 67px; z-index: 1; display: none; top: 158px;}
        .refer_earn_left_div {background: #392a63; text-align: center; padding: 40px 40px 30px;  position: relative;}
        .refer_earn_right_div { padding: 70px 40px 80px 30px; text-align: center;}
        .list-unstyled{ text-align: center; }   
        .how_its_work_list ul > li > img{margin:0 auto; display: block; }
        .footer_1{ padding-top: 220px !important; padding-bottom: 80px !important; }
        .footer_2 { position:relative; padding-top:40px !important; padding-bottom:40px !important; }
        .footer_2::after{ content:''; position:absolute; left: -160px; width:30%; top:0px; height:100%; background:#10368f;}
        .footer_2::before{ content:''; position:absolute; right: -160px; width:30%; top:0px; height:100%; background:#10368f;}
        .footer_3 { position: relative; padding-top:40px !important; padding-bottom:40px !important; }
        .footer_3::after{content:''; position:absolute; left: -160px; width:30%; top:0px; height:100%; background:#143279;}
        .footer_3::before{content:''; position:absolute; right: -160px; width:30%; top:0px; height:100%; background:#143279;}
        footer.page-footer .col-md-4{padding-top:0px;padding-bottom:0px;}
        footer.page-footer {background-image: linear-gradient( to right, #1b45a7 50%, #1b45a7 50%);}
        .feature_item{ text-align:center;}
        .beauty_category_section.category_section .slick-dots{display:none !important;}
        .fitness_category_section.category_section .slick-dots{display:none !important;}
        .wellness_category_section.category_section .slick-dots {display:none !important;}
        .get_started_btn { position: relative;  top: 16px;}
        .refer_earn_timeline {display: none;}
        .row.features_category_row {padding-top:30px; padding-bottom: 30px;}
        .feature_category { position: relative; top: 74px;}
        .beauty_category_section.category_section .visit_categoy{top:-40px;}
        .fitness_category_section.category_section .visit_categoy{top:-40px;}
        .wellness_category_section.category_section .visit_categoy{top:-40px;}
        .top_nav_bar_wrap .navbar-toggler{display:none;}
        }
        @media(max-width:690px){
            .header_height.header_bottom_landing {
                margin-top: 175px;
            }
            .delivery_mode_wrapper .delivery_mode_item .blog_wrap .slider-caption-wrap{  width: 100%;
                left: 0%;
                padding: 10px; }
            .landing_offers_section .offers_category_section_wrapper:before{left: -80px;}
            .studio_center_section .weight_loss_prog_section .category_slider_section:before{left: -80px;}
            .featured_offers_section .featured_offers_section_wrapper:before{right:-80px}
            .weight_loss_prog.slider .slick-dots{bottom:-85px; text-align: center;}
            .image-wrap img{width:100%;}
            .landing_contact_wrapper{display:block;}
            .landing_contact_wrapper .landing_contact_item{width:100%;}
            section.landing_contact_section{background-size: cover; background-position: top right;     padding: 160px 0px 260px 0px;}
            .delivery_mode_wrapper .delivery_mode_item .blog_wrap .slider-caption-wrap{left:0%;}
            .weight_loss_prog_section.category_section .visit_categoy{top: 50%; width: 80%; text-align: center; display: none;}
            .featured_offers_category_tab_content .featured_offers{display: block;}
            .featured_offers .blog_wrap{ width: 100%; padding:10px; }
            .featured_offers_category_tab_content .featured_offers .cu_slider_item{margin:10px auto; width:100%}
            .studio_center_section .section_header h2{transform: translateY(-70%);}
            .landing_offers_section .offers_category_section_wrapper{padding-left: 0px;}
            .delivery_mode_wrapper{display:block;}
            .delivery_mode_wrapper .delivery_mode_item:nth-of-type(2){    transform: translateY(0px);}
            .delivery_mode_wrapper .delivery_mode_item{width:100%; margin: 10px auto;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(1){padding-top:100px;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(2){padding-top: 0px;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(3){ padding-top: 0px; }
            .studio_center_blog_wrapper{height:100%!important;}
            .blogs_masonry .blogs_masonry_item{ width:100%; position: relative !important; top:0px !important; left:0px !important; }
            .reponse_btn{margin:0 auto; width:60%;}
          
            .explore_btn_cancelling{display:block;  margin:10px auto;}
            .Responses_btn_cancelling{display:block; margin:10px auto;}
            .cancel_order_box{text-align: center;}
            .Query{width:100%}
            .Query p{width: 80%;}
            .query_text{width:20%;}
            ul.Beaty_tabs_animation{text-align: center;}
            .number_images{margin:10px auto;}
            .grey_multi_image img{margin:0 auto!important;}
            .header_bottom_form{margin-top: 200px;}
            .product_one img{ width:100%;}
            .hair_heading_box{width: 100%;}
            .view_all_hair{width:55%;}
            .new_rating_review{width:100px;}
            .trail_maine_section{top:0px;}
            .Service_1_text{text-align: center;}
            ul.service_like_not{text-align: center;}
            ul.saff_form li{width:100px;}
            ul.emoji_review{text-align: center;}
            .side_all_frent_page{height: 100%;}
            .instructor_blue_experience{text-align: center;}
            .instrutor_two{top:0px;}
            .instrutor_img img{width:100%; margin: 0 auto; display: block;}
            .trail_sessions .item-slick img{width:100%;}
            .tab_rating_on_btn{right:0px;}
            .trail_sessions{top:0px}
            .your_cart_new{top:0px;}
            .calories_section_right .divinder_Tab{display: none;}
            .yoga_group_right{width:50%;}
            .yoga_coupon_left{width:50%;}
            ul.top_link_tab{text-align:left;}
            .top_link_tab li{margin:25px 5px;}
            .height_fitness_one{margin-top:180px;}
            .Cart_page_Price_number{text-align: left; margin:10px 0px;}
            .your_money_icon{width:15%;}
            .Checkout_cart_tab:after{display: none;}
            .Shopping_cart_tab::after{display: none;}
            .Payment_cart_tab{margin:10px auto;}
            .Shopping_cart_tab{margin:10px auto}
            .Checkout_cart_tab{margin:10px auto;}
            .list_sider_bar_styling{border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;}
            .SingUp_box{overflow: inherit;     margin-top: 180px;}
            .select-dropdown{margin-left: 0px;}
            .SingUp_input{    margin-top: 0px !important;}
            .list_sider_bar_styling::before{display: none;}
            .list_sider_bar_styling::after{display: none;}
            .side_menu_li_listing {width:100%;top:0px;}
            .quick_listing_image{padding-right:10px;}
            .header_height_B{ height: 250px;}
            .header_height_A { height: 210px; }
            .dinamond_banner_text{font-size: 18px;}
            .offer_listing_header{height:30px;}
            .bottom_details_section{text-align: center;}
            .off_image{top:10px;}
            .Bundle_image img{    width: 100%; margin-top:10px;}
            .my-account_code_one_color_green{text-align: right;}
            .my-account_code_one_color{text-align: right;}
            .heading_cash_one{text-align: center;}
        .wallet_transcations .heading_cash_one{text-align: left;}
            .top_up_btn{text-align: center;}
            .gif_yoga_box{margin-top:20px;}
            .offer_details{margin: 10px auto;}
            .offer_detail_price_top{top:0px; text-align: center;}
            .header_height.offer_height {  height: 180px;   }
            .Right_side_banner_image{right:0px;}
        }
        @media(max-width:595px){
            .header_height.header_bottom_landing {
                margin-top: 195px;
            }
            .featured_offers_section .featured_offers_section_wrapper:before{right:-15px}
            .weight_loss_prog.slider .slick-dots{bottom:-85px; text-align: center;}
            .image-wrap img{width:100%;}
            .landing_contact_wrapper{display:block;}
            .landing_contact_wrapper .landing_contact_item{width:100%;}
            section.landing_contact_section{background-size: cover; background-position: top right;     padding: 160px 0px 260px 0px;}
            .delivery_mode_wrapper .delivery_mode_item .blog_wrap .slider-caption-wrap{left:0%;}
            .weight_loss_prog_section.category_section .visit_categoy{top: 50%; width: 80%; text-align: center;}
            .featured_offers_category_tab_content .featured_offers{display: block;}
            .featured_offers .blog_wrap{ width: 100%; padding:10px; }
            .featured_offers_category_tab_content .featured_offers .cu_slider_item{margin:10px auto; width:100%}
            .studio_center_section .section_header h2{transform: translateY(-70%);}
            .landing_offers_section .offers_category_section_wrapper{padding-left: 0px;}
            .delivery_mode_wrapper{display:block;}
            .delivery_mode_wrapper .delivery_mode_item:nth-of-type(2){    transform: translateY(0px);}
            .delivery_mode_wrapper .delivery_mode_item{width:100%; margin: 10px auto;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(1){padding-top:100px;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(2){padding-top: 0px;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(3){ padding-top: 0px; }
            .studio_center_blog_wrapper{height:100%!important;}
            .blogs_masonry .blogs_masonry_item{ width:100%; position: relative !important; top:0px !important; left:0px !important; }
            


            .reponse_btn{margin:0 auto; width:60%;}
            .explore_btn_cancelling{display:block;  margin:10px auto;}
            .Responses_btn_cancelling{display:block; margin:10px auto;}
            .cancel_order_box{text-align: center;}
            .Query{width:100%}
            .Query p{width: 80%;}
            .query_text{width:20%;}
            ul.Beaty_tabs_animation{text-align: center;}
            .number_images{margin:10px auto;}
            .grey_multi_image img{margin:0 auto!important;}
            .header_bottom_form{margin-top: 200px;}
            .view_all_hair{text-align: center; width:100%;}
             .hair_tabs_in_box{   width: 100%; display: block;  text-align: center;}
            .hair_heading_box{margin:0 auto; display: block;}
            .booking_tab_in_box{text-align: center;}
            .booking_tab_in_box li{margin:10px 0px;}
            .trail_maine_section{top:0px;}
            .Service_1_text{text-align: center;}
            ul.service_like_not{text-align: center;}
            ul.saff_form li{width:100px;}
            ul.emoji_review{text-align: center;}
            .instructor_blue_experience{text-align: center;}
            .side_all_frent_page{height: 100%;}
            .smillar_image-wrap img{width:100%}
            .instrutor_two{top:0px;}
            .instrutor_img img{width:100%;}
            .trail_sessions .item-slick img{width:100%;}
            .tab_rating_on_btn{right:0px;}
            .trail_sessions{top:0px}
            .your_cart_new{top:0px;}
            .calories_section_right .divinder_Tab{display: none;}
            .yoga_group_right{width:50%;}
            .yoga_coupon_left{width:50%;}
            ul.top_link_tab{text-align:left;}
            .top_link_tab li{margin:25px 5px;}
            .height_fitness_one{margin-top:180px;}
            .Cart_page_Price_number{text-align: left; margin:10px 0px;}
            .your_money_icon{width:100%;}
            .Checkout_cart_tab:after{display: none;}
            .Shopping_cart_tab::after{display: none;}
            .Payment_cart_tab{margin:10px auto;}
            .Shopping_cart_tab{margin:10px auto}
            .Checkout_cart_tab{margin:10px auto;}
            .list_sider_bar_styling{border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;}
            .SingUp_box{overflow: inherit;}
            .select-dropdown{margin-left: 0px;}
            .SingUp_input{    margin-top: 0px !important;}
            .list_sider_bar_styling::before{display: none;}
            .list_sider_bar_styling::after{display: none;}
            .side_menu_li_listing {width:100%;top:0px;}
            .quick_listing_image{padding-right:0px;}
            .header_height_B{ height: 300px;}
            .quick_listing_image { width: 100%;  }  .quick_listing_image img { width: 100%;  }
            .Dimanod_text_box{width:100%; text-align: center;}
            .header_height_A {
                height: 210px;
            }.dinamond_banner_text{font-size: 18px;}
            .offer_listing_header{height:90px;}
            .header_bottom_p.height_desktop_resposive {  height: 80px;  }
            .bottom_details_section{text-align: center;}
            .off_image{top:10px;}
            .Bundle_image img{    width: 100%; margin-top:10px;}
            .gif_yoga_box{margin-top:20px;}
            .offer_details{margin: 10px auto;}
            .offer_detail_price_top{top:0px; text-align: center;}
            .header_height.offer_height {  height: 200px;   }
            .Right_side_banner_image{right:0px;}
            .Add_right_btn_bottom{display: block; margin:0 auto;}
            ul#suggestContent li{margin:3px 2px;}
            #suggestContent { text-align: center;    }
            
            .wallet_transcations .heading_cash_one{text-align: center;}
            .my-account_code_one{text-align: center;}
            .how_Redeemed{text-align: center;}
            .my_cash_first_icon{margin:0 auto;}
            .heading_cash_one{text-align: center;}
            .feature_category {  position: relative;    top: 14px;   }

            .listing_beauty_wellness_items .listing_item_wrap .item_detail_wrap .detail_wrap{width:100%;}
            .listing_item_wrap .item_detail_wrap{flex-wrap: wrap;}
            .listing_beauty_wellness_items .listing_item_wrap .item_detail_wrap .price_details_wrap{width:100%;}
            .header #header_main .container { width: 100%;  max-width: 100%; }
            .main_menu{ padding:0px;  }
            body.home_page .search_section_module{  display: none; }
            .brand_wrapper { margin:0px }
            .main_menu.shrink .search_section_module{ display: none;  }
            .main_menu_wrapper { display: flex;  width: 100%; flex-wrap: wrap; }
            .menu_wrapper { width: 100%; display: flex;  flex-wrap: wrap; padding-left: 0px;   }
            .main_category_menu_wrap { width: 100%; order: 2; position: relative;  display: block;  bottom:0; left: 0px;
                border-radius: 0px; transform: none; padding:10px 0px; text-align: center;    }
            .custom_responsive{ display: none; }
            .top_nav_bar_wrap .user_menu .navbar{ width:100%; padding-left: 0px; margin-left: 0px;}
            .top_nav_bar_wrap {display: flex;  width: 100%; padding:0px; text-align: center; }
            .user_menu {width: 100%; position: absolute; z-index: 999; top: 0px;  right: -60px;  }
            .user_menu .navbar-nav{  width:100%; display: inline-block;  }
            .user_menu .navbar-nav li{ display: inline-block; margin:10px 0px; }
            #category_menu ul li{display: inline-block;  width: 75px; }
            #category_menu ul { display: inline-block;}
        .top_menu_bar .main_category_menu_wrap .menu_item_icon { width: 40px; display: block; margin: 0 auto;}
        .top_menu_bar .main_category_menu_wrap .navbar-nav .nav-item .nav-link { text-align: center; display: block;}
        .main_menu.shrink .main_category_menu_wrap {width: 100%; height: auto;}
        .home_banner .slider-image .slider-caption-wrap{ display:none;}
        .home_banner .slick-slide .image-wrap { height: 100%; width: 100%;}
        .home_banner .slick-slide img { width: 100%; height: calc(100vh - 0px);}
        .slideshow__slides .slick-dots { bottom: -40px;  width: 99%; right: 0px; display: none !important;}
        .home_banner .slick-dots li { width:30px;}
        .home_banner .slick-arrow.slick-next {left: 0%;}
        .row.features_category_row{ display: block;}
        section.beutics_features_section{ background:url(../img/home-brush-stroke.png); background-repeat: no-repeat; 
            background-position: bottom center;     background-size: 100%;}
        .refer_earn_left_div:before{ right: 67px; z-index: 1; display: none; top: 158px;}
        .refer_earn_left_div {background: #392a63; text-align: center; padding: 40px 40px 30px;  position: relative;}
        .refer_earn_right_div { padding: 70px 40px 80px 30px; text-align: center;}
        .list-unstyled{ text-align: center; }   
        .how_its_work_list ul > li > img{margin:0 auto; display: block; }
        .footer_1{ padding-top: 220px !important; padding-bottom: 80px !important; }
        .footer_2 { padding-top:40px !important; padding-bottom:40px !important; }
        .footer_3 { padding-top:40px !important; padding-bottom:40px !important; }
        footer.page-footer .col-md-4{padding-top:0px;padding-bottom:0px;}
        .feature_item{ text-align:center;}
        .beauty_category_section.category_section .slick-dots{display:none !important;}
        .fitness_category_section.category_section .slick-dots{display:none !important;}
        .wellness_category_section.category_section .slick-dots {display:none !important;}
        .get_started_btn { position: relative;  top: 16px;}
        .refer_earn_timeline {display: none;}
        .row.features_category_row {padding-top:30px; padding-bottom: 30px;}
        .feature_category { position: relative; top: 14px;}
        .top_nav_bar_wrap .navbar-toggler{display:none;}
        .listing_item_wrap { display: block; }

        }



        @media(max-width:480px){
            .custom_popup .modal-dialog{     width: 95%;  max-width: 100%; }
            .custom_popup_content .modal-body{height: 100%;}
            .header_height.header_bottom_landing {
                margin-top: 285px;
            }
            .featured_offers_section .featured_offers_section_wrapper:before{right:-15px}
            .weight_loss_prog.slider .slick-dots{bottom:-85px; text-align: center;}
            .image-wrap img{width:100%;}
            .landing_contact_wrapper{display:block;}
            .landing_contact_wrapper .landing_contact_item{width:100%;}
            section.landing_contact_section{background-size: cover; background-position: top right;     padding: 120px 0px 260px 0px;}
            .delivery_mode_wrapper .delivery_mode_item .blog_wrap .slider-caption-wrap{left:0%;}
            .weight_loss_prog_section.category_section .visit_categoy{top: 50%; width: 80%; text-align: center;}
            .featured_offers_category_tab_content .featured_offers{display: block;}
            .featured_offers .blog_wrap{ width: 100%; padding:10px; }
            .featured_offers_category_tab_content .featured_offers .cu_slider_item{margin:10px auto; width:100%}
            .studio_center_section .section_header h2{transform: translateY(-70%);}
            .landing_offers_section .offers_category_section_wrapper{padding-left: 0px;}
            .delivery_mode_wrapper{display:block;}
            .delivery_mode_wrapper .delivery_mode_item:nth-of-type(2){    transform: translateY(0px);}
            .delivery_mode_wrapper .delivery_mode_item{width:100%; margin: 10px auto;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(1){padding-top:100px;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(2){padding-top: 0px;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(3){ padding-top: 0px; }
            .studio_center_blog_wrapper{height:100%!important;}
            .blogs_masonry .blogs_masonry_item{ width:100%; position: relative !important; top:0px !important; left:0px !important; }
            
            .reponse_btn{margin:0 auto; width:100%;}
            .explore_btn_cancelling{display:block;  margin:10px auto;}
            .Responses_btn_cancelling{display:block; margin:10px auto;}
            .cancel_order_box{text-align: center;}
            .header_bottom_form{margin-top: 280px;}
            .atteched_text p{text-align: center;}
            .send_teligram{margin:0 auto;}
            .attechded_icon{text-align: center;}
            .number_images{margin: 0 auto;}
            .grey_multi_image{display: block;text-align: center;}
            .grey_multi_image img{margin:10px auto !important;}
            .posted_form_details{float: none;text-align: left; right:0px;}
            .Query{width:100%}
            .Query p{width: 80%;}
            .query_text{width:20%;}
            

            .hair_tabs_in_box{   width: 100%; display: block;  text-align: center;}
            .hair_heading_box{margin:0 auto; display: block;}
            .booking_tab_in_box{text-align: center;}
            .booking_tab_in_box li{margin:10px 0px;}
            .view_all_hair{width:100%;text-align: center;}
            .hair_tabs_in_box{margin-left: 0px;}
            .trail_maine_section{top:0px;}
            .Service_1_text{text-align: center;}
            ul.service_like_not{text-align: center;}
            ul.saff_form li{width:80px;}
            ul.emoji_review{text-align: center;}
            .instrutor_img img{width:100%; margin: 0 auto; display: block;}
            .instructor_blue_experience{text-align: center;}
            .side_all_frent_page{height: 100%;}
            .instrutor_two{top:0px;}
            .instrutor_img img{width:100%;}
            .coupon_code_left_Side {
                width: 65%;
            }
            .coupon_code_discount {
                width: 35%;
            }
            .bookmark{padding:10px 22px;}
            .Flow_social_button{text-align: center;}
            ul.right_tab_date{text-align: center;}
            .apply_coupon_code_section{padding:10px;}
            .your_cart_new{top:0px;}
            .trail_sessions{top:0px;}
            .right_tab_date li{margin:10px 5px;}
            .activity_tabs_section a{margin:0 auto;}
            .custom_tab_one{padding:10px 6px;}
            .traning_tabs_about_details li{display: inline-block;}
            .calories_section_right{text-align: center; width: 100%;}
            .calories_section_middel{ width:100%;text-align: center; }
            .calories_section_left{width:100%;text-align: center;}
            .yoga_group_right{width:100%; text-align: center;}
            .yoga_coupon_left{width: 100%; text-align: center;}
            .yoga_coupon{width: 100%; display: block;}
            /* .divinder_Tab{display: none;} */
            .yoga_text{font-size: 24px; font-size: 22px;}
            #nav-tabContent{padding:10px 0px !important;}
            .Activities_section_box_heading{padding:10px 0px 0px 10px;}
            .Activities_section_box_heading img{width:20%;}
            .Right_side_banner_image img{width:100%;}
            .tab_rating_on_btn{ width: 33%; right: 8px;  top: -6px; font-size: 14px; background: #14e614;
                border-radius: 3px;  text-align: center;}
            .top_link_tab li{display: block; margin:10px auto; text-align: center;}
            .link_tab_one{display: block;}
            .height_fitness_one{margin-top:280px;}

            .card_icons:after{display: none;}
            .make_payment_btn a{width: 100%;}
            .send_later_btn a{margin:10px 0px;margin-left: 0px;}
            .submit_btns{display: block; width: 100%; margin: 0 auto;  text-align: center;}
            .header_height.header_bottom_Gift{height: 310px;}

            .Cart_page_Price_number{text-align: left; margin:10px 0px;}
            .your_money_icon{width:100%;}
            .Checkout_cart_tab:after{display: none;}
            .Shopping_cart_tab::after{display: none;}
            .Payment_cart_tab{margin:10px auto;}
            .Shopping_cart_tab{margin:10px auto;}
            .Checkout_cart_tab{margin:10px auto;}
            .select-dropdown{margin-left: 0px;}
            .list_sider_bar_styling li a::before{display:none;}
            .SingUp_input{    margin-top: 0px !important;}
            .list_sider_bar_styling::before{display: none;}
            .list_sider_bar_styling::after{display: none;}
            .side_menu_li_listing {width:100%;top:0px;}
            .skip_btn{margin-left: 10px;}
            .SingUp_box{margin-top: 290px;}

            .header_height_B{ height: 300px;}
            .quick_listing_image { width: 100%;  }  .quick_listing_image img { width: 100%;  }
            .Dimanod_text_box{width:100%; text-align: center;}
            .header_height_A { height: 300px; }
            .dinamond_banner_text{font-size: 16px;}
            .offer_listing_header{height:40px;}
            .header_bottom_p.height_desktop_resposive {  height: 20px;  }
            .header_bottom_p { margin-top: 100px;  }
            .off_image{top:10px;}
            .Bundle_image img{    width: 100%; margin-top:10px;}
            .service_on_wrap{text-align: center;}
            section.page_filter_section .filter_shortby_wrap{display: none;}
            ul.Beaty_tabs_animation{text-align: center;}
            .Flow_social_button .facebook_icon {top: -4px; left: 10px; }
            .gif_yoga_box{margin-top:20px;}
            .offer_details{margin: 10px auto;}
            .offer_detail_price_top{top:0px; text-align: center;}
            .Right_side_banner_image{right:0px;}
            .header_height.offer_height { height: 295px; }
            .Add_right_btn_bottom{display: block; margin:0 auto;}
            ul#suggestContent li{margin:3px 2px;}
            #suggestContent { text-align: center;    }
            .my-account_code_one_color_green{text-align: center;}
            .my-account_code_one_color{text-align: center;}
            .wallet_heading{text-align: center;}
            .Date_right_money{text-align: center;}
            .my-account_code_one_color_green{text-align: center;}
            .how_Redeemed_color{text-align: center;}
            .flex_image{float: none;}
            .cashback_btn_right{margin: 10px auto !important;}
            .earning_redemptions_btn.active{ margin:10px auto; }
            .earning_redemptions_btn{ margin:10px auto !important; }
            .header_height.wallet_height {height: 370px  !important; }
            a.top_wallet_btn{display: block; width: 100%; text-align: center; margin: 10px 0px;}
            .facebook_icon{top:-1px;}
            .welcome_box_singin { padding-left: 0px;  }
            .input-wrapper{margin:0px;}
            .Sign_up_box_title{padding-left: 35px !important;}
            .Sign_in_box_title{padding-left: 0px;}
            .Sign_in_box_title::after{left:0px; }
            .or_change{padding:10px 30px;}
            .or_change:after{display: none;}
            .or_change:before{display: none;}
            .forget_passowrd{width:100%; text-align: left; padding-left: 10px;}
            .login_height_mobile { height: 310px !important; }
            .feature_category {  position: relative;    top: 14px;   }
            .main_menu{ padding:0px;  }
            body.home_page .search_section_module{  display: none; }
            .brand_wrapper { margin: 0 auto; }
            .main_menu.shrink .search_section_module{ display: none;  }
            .main_menu_wrapper { display: flex;  width: 100%; flex-wrap: wrap; }
            .menu_wrapper { width: 100%; display: flex;  flex-wrap: wrap; padding-left: 0px;   }
            .main_category_menu_wrap { width: 100%; order: 2; position: relative;  display: block;  bottom:0; left: 0px;
                border-radius: 0px; transform: none; padding:10px 0px; text-align: center;    }
            .custom_responsive{ display: none; }
            .top_nav_bar_wrap .user_menu .navbar{ width:100%; padding-left: 0px; margin-left: 0px;}
            .top_nav_bar_wrap {display: flex;  width: 100%; padding:0px; text-align: center; }
            .user_menu { width: 100%; position: relative; top:0px; right:0px; }
            .user_menu .navbar-nav{  width:100%; display: inline-block;  }
            .user_menu .navbar-nav li{ display: inline-block; margin:10px 0px; }
            #category_menu ul li{display: inline-block;  width: 75px; }
            #category_menu ul { display: inline-block;}
        .top_menu_bar .main_category_menu_wrap .menu_item_icon { width: 40px; display: block; margin: 0 auto;}
        .top_menu_bar .main_category_menu_wrap .navbar-nav .nav-item .nav-link { text-align: center; display: block;}
        .main_menu.shrink .main_category_menu_wrap {width: 100%; height: auto;}
        .home_banner .slider-image .slider-caption-wrap{ display:none;}
        .home_banner .slick-slide .image-wrap { height: 100%; width: 100%;}
        .home_banner .slick-slide img { width: 100%; height: calc(100vh - 0px);}
        .slideshow__slides .slick-dots { bottom: -40px;  width: 99%; right: 0px; display: none !important;}
        .home_banner .slick-dots li { width:30px;}
        .home_banner .slick-arrow.slick-next {left: 0%;}
        .row.features_category_row{ display: none;}
        section.beutics_features_section{  background-image: none;}
        .refer_earn_left_div:before{ right: 67px; z-index: 1; display: none; top: 158px;}
        .refer_earn_left_div {background: #392a63; text-align: center; padding: 40px 40px 30px;  position: relative;}
        .refer_earn_right_div { padding: 70px 40px 80px 30px; text-align: center;}
        .list-unstyled{ text-align: center; }   
        .how_its_work_list ul > li > img{margin:0 auto; display: block; }
        .footer_1{ padding-top: 220px !important; padding-bottom: 80px !important; }
        .footer_2 { padding-top:40px !important; padding-bottom:40px !important; }
        .footer_3 { padding-top:40px !important; padding-bottom:40px !important; }
        footer.page-footer .col-md-4{padding-top:0px;padding-bottom:0px;}
        .feature_item{ text-align:center;}
        .beauty_category_section.category_section .slick-dots{display:none !important;}
        .fitness_category_section.category_section .slick-dots{display:none !important;}
        .wellness_category_section.category_section .slick-dots {display:none !important;}
        .get_started_btn { position: relative;  top: 16px;}
        .refer_earn_timeline {display: none;}
        }
        @media(max-width:380px){
            .header_height.header_bottom_landing {
                margin-top: 335px;
            }
            .image-wrap img{width:100%;}
            .delivery_mode_wrapper .delivery_mode_item .blog_wrap .slider-caption-wrap{left:5%;}
            .header_bottom_form{margin-top: 380px;}
            .hair_tabs_in_box{margin:0 auto;display: block;}
            .hair_heading_box{margin:0 auto; display: block;}
            .booking_tab_in_box{text-align: center;}
            .height_fitness_one{margin-top:300px;}
            .header_height.header_bottom_Gift{height: 360px;}
            .select-dropdown{margin-left: 0px;}
            .list_sider_bar_styling li a::before{display:none;}
            .SingUp_input{    margin-top: 0px !important;}
            .list_sider_bar_styling::before{display: none;}
            .list_sider_bar_styling::after{display: none;}
            .side_menu_li_listing {width:100%;top:0px;}
            .skip_btn{margin-left: 10px;}
            .SingUp_box{margin-top: 350px;}
            .header_height_B{ height: 400px;}
            .quick_listing_image { width: 100%;  }  .quick_listing_image img { width: 100%;  }
            .Dimanod_text_box{width:100%; text-align: center;}
            .header_height.offer_height { height: 310px; }
            .offer_listing_header{height:110px;}
        }

        @media(max-width:321px){
            .header_height.header_bottom_landing {
                margin-top: 175px;
            }
            .delivery_mode_wrapper .delivery_mode_item .blog_wrap .slider-caption-wrap{left:5%;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(1){padding-top:100px;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(2){padding-top: 0px;}
            .studio_center_blog_item.blogs_masonry_item:nth-of-type(3){ padding-top: 0px; }
            .studio_center_blog_wrapper{height:100%!important;}
            .blogs_masonry .blogs_masonry_item{ width:100%; position: relative !important; top:0px !important; left:0px !important; }
            .delivery_mode_wrapper{display:block;}
            .delivery_mode_wrapper .delivery_mode_item:nth-of-type(2){    transform: translateY(0px);}
            .delivery_mode_wrapper .delivery_mode_item{width:100%; margin: 10px auto;}
            .nav-tabs.offers_category_tabs .nav-item .nav-link{padding:.5rem 1rem;}
            .landing_offers_section .offers_category_section_wrapper{padding-left: 0px;}
            .header_bottom_form{margin-top: 200px;}
            .atteched_text p{text-align: center;}
            .send_teligram{margin:0 auto;}
            .attechded_icon{text-align: center;}
            .number_images{margin: 0 auto;}
            .grey_multi_image{display: block;text-align: center;}
            .grey_multi_image img{margin:10px auto !important;}
            .posted_form_details{float: none;text-align: left; right:0px;}
            .Query{width:100%}
            .Query p{width: 80%;}
            .query_text{width:20%;}

            .hair_tabs_in_box{margin:0 auto;display: block;}
            .hair_heading_box{margin:0 auto; display: block;}
            .booking_tab_in_box{text-align: center;}
            .Service_1_text{text-align: center;}
            ul.service_like_not{text-align: center;}
            ul.saff_form li{width:80px;}
            ul.emoji_review{text-align: center;}
            .instrutor_two{top:0px;}
            .instrutor_img img{width:100%;}
            ul.right_tab_date{text-align: center;}
            .apply_coupon_code_section{padding:10px;}
            .your_cart_new{top:0px;}
            .trail_sessions{top:0px;}
            .right_tab_date li{margin:10px 5px;}
            .activity_tabs_section a{margin:0 auto;}
            .custom_tab_one{padding:10px 6px;}
            .traning_tabs_about_details li{display: inline-block;}
            .calories_section_right{text-align: center; width: 100%;}
            .calories_section_middel{ width:100%;text-align: center; }
            .calories_section_left{width:100%;text-align: center;}
            .yoga_group_right{width:100%; text-align: center;}
            .yoga_coupon_left{width: 100%; text-align: center;}
            .yoga_coupon{width: 100%; display: block;}
            /* .divinder_Tab{display: none;} */
            .yoga_text{font-size: 24px; font-size: 22px;}
            #nav-tabContent{padding:10px 0px !important;}
            .Activities_section_box_heading{padding:10px 0px 0px 10px;}
            .Activities_section_box_heading img{width:20%;}
            .Right_side_banner_image img{width:100%;}
            .tab_rating_on_btn{ width: 33%; right: 8px;  top: -6px; font-size: 14px; background: #14e614;
                border-radius: 3px;  text-align: center;}
            .top_link_tab li{display: block; margin:10px auto; text-align: center;}
            .link_tab_one{display: block;}
            .Flow_social_button li{margin:10px 1.5px;}
            .Flow_social_button{text-align: center;}
            .Gender_listing li{margin:0 auto;}
            .height_fitness_one{margin-top:60px;}
            .card_icons:after{display: none;}
            .make_payment_btn a{width: 100%;}
            .send_later_btn a{margin:10px 0px;margin-left: 0px;}
            .submit_btns{display: block; width: 100%; margin: 0 auto;  text-align: center;}
            .header_height.header_bottom_Gift{height: 410px;}

            .Shopping_cart_tab{margin:10px auto; margin-left: 0px;}
            .Cart_page_Price_number{text-align: left; margin:10px 0px;}
            .your_money_icon{width:100%;}
            .Checkout_cart_tab:after{display: none;}
            .Shopping_cart_tab::after{display: none;}
            .Payment_cart_tab{margin-left: 0px;}
            .Checkout_cart_tab{margin:10px 0px;}
            .select-dropdown{margin-left: 0px;}
            .list_sider_bar_styling li a::before{display:none;}
            .SingUp_input{    margin-top: 0px !important;}
            .list_sider_bar_styling::before{display: none;}
            .list_sider_bar_styling::after{display: none;}
            .side_menu_li_listing {width:100%;top:0px;}
            .skip_btn{margin-left: 10px;}
            .SingUp_box{margin-top: 217px;}
            .header_height_B{ height: 400px;}
            .quick_listing_image { width: 100%;  }
            .Dimanod_text_box{width:100%; text-align: center;}
            .header_height_A {
                height: 400px;
            }.dinamond_banner_text{font-size: 16px;}
            .offer_listing_header{height:110px;}
            .Code_name_sidebar{width: 30%;}
            .table_section-right_sidebar{padding: 10px;}
            .membership_text { width: 70%; }
            .gif_yoga_box{margin-top:20px;}
            .offer_vertical_middel{margin:10px 0px;}
            .time_table_list li a {display: table-cell;}
            .offer_details{margin: 10px auto;}
            .offer_detail_price_top{top:0px; text-align: center;}
            .Right_side_banner_image{right:0px;}
        .Flow_social_button .facebook_icon {top: -4px; left: 10px; }
            .header_height.offer_height { height: 390px; }
            .wallet_heading{text-align: center;}
            .my-account_code_one_color_green{text-align: center;}
            .how_Redeemed_color{text-align: center;}
            .flex_image{float: none;}
            .Date_right_money{text-align: center;}
            .header_height.wallet_height {height: 400px !important; }
            .welcome_box_singin { padding-left: 0px;  }
            .input-wrapper{margin:0px;}
            .Sign_up_box_title{padding-left: 35px !important;}
            .Sign_in_box_title{padding-left: 0px;}
            .Sign_in_box_title::after{left:0px; }
            .facebook_icon{top:-1px; left:27px;}
            .or_change{display: none;}
            .login_height_mobile { height: 360px !important; }
            .header_height { height: 220px;  }
            .main_menu{ padding:0px;  }
            .feature_category {  position: relative;    top: 14px;   }
            body.home_page .search_section_module{  display: none; }
            .brand_wrapper { margin: 0 auto; }
            .main_menu.shrink .search_section_module{ display: none;  }
            .main_menu_wrapper { display: flex;  width: 100%; flex-wrap: wrap; }
            .menu_wrapper { width: 100%; display: flex;  flex-wrap: wrap; padding-left: 0px;   }
            .main_category_menu_wrap { width: 100%; order: 2; position: relative;  display: block;  bottom:0; left: 0px;
                border-radius: 0px; transform: none; padding:10px 0px; text-align: center;    }
            .custom_responsive{ display: none; }
            .top_nav_bar_wrap .user_menu .navbar{ width:100%; padding-left: 0px; margin-left: 0px;}
            .top_nav_bar_wrap {display: flex;  width: 100%; padding:0px; text-align: center; }
            .user_menu { width: 100%;  }
            .user_menu .navbar-nav{  width:100%; display: inline-block;  }
            .user_menu .navbar-nav li{ display: inline-block; margin:10px 0px; }
            #category_menu ul li{display: inline-block;  width: 75px; }
            #category_menu ul { display: inline-block;}
        .top_menu_bar .main_category_menu_wrap .menu_item_icon { width: 40px; display: block; margin: 0 auto;}
        .top_menu_bar .main_category_menu_wrap .navbar-nav .nav-item .nav-link { text-align: center; display: block;}
        .main_menu.shrink .main_category_menu_wrap {width: 100%; height: auto;}
        .home_banner .slider-image .slider-caption-wrap{ display:none;}
        .home_banner .slick-slide .image-wrap { height: 100%; width: 100%;}
        .home_banner .slick-slide img { width: 100%; height: calc(100vh - 0px);}
        .slideshow__slides .slick-dots { bottom: -40px;  width: 99%; right: 0px;}
        .home_banner .slick-dots li { width:30px;}
        .home_banner .slick-arrow.slick-next {left: 0%;}
        .row.features_category_row{ display: none;}
        section.beutics_features_section{  background-image: none;}
        .refer_earn_left_div:before{ right: 67px; z-index: 1; display: none; top: 158px;}
        .refer_earn_left_div {background: #392a63; text-align: center; padding: 40px 40px 30px;  position: relative;}
        .refer_earn_right_div { padding: 70px 40px 80px 30px; text-align: center;}
        .list-unstyled{ text-align: center; }   
        .how_its_work_list ul > li > img{margin:0 auto; display: block; }
        .footer_1{ padding-top: 220px !important; padding-bottom: 80px !important; }
        .footer_2 { padding-top:40px !important; padding-bottom:40px !important; }
        .footer_3 { padding-top:40px !important; padding-bottom:40px !important; }
        footer.page-footer .col-md-4{ padding-top:0px;padding-bottom:0px; }
        .feature_item{ text-align:center;}
        .get_started_btn { position: relative; }
        }
